<!doctype html>
<html lang="en">
    {% include head.html %}
    <meta charset=utf-8 />
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="resume" itemscope itemtype="http://schema.org/WebPage">
            <article role="article" id="scroll" class="post-content" itemprop="mainContentOfPage">
                {{ content }}
            </article>
            <div class="resume-pdf">
                <a download href="/assets/pdf/resume_erik_dolinsky.pdf">Download PDF</a>
            </div>
        </section>
        {% include scripts.html %}
    </body>
</html>